@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
   --first-element-summary: hsla(0, 100%, 67%, 0.2);
   --first-text-summary: hsl(0, 100%, 67%);
   --second-element-summary: hsla(39, 100%, 56%, 0.2);
   --second-text-summary: hsl(39, 100%, 56%);
   --third-element-summary: hsla(166, 100%, 37%, 0.2);
   --third-text-summary: hsl(166, 100%, 37%);
   --fourth-element-summary: hsla(234, 85%, 45%, 0.2);
   --fourth-text-summary: hsl(234, 85%, 45%);
   --background-first-block: hsl(252, 100%, 67%);
   --background-first-block-gradient: hsl(241, 72%, 46%);
   --background-circle: hsl(241, 81%, 54%);
   --background-circle-button: hsl(224, 30%, 27%);
   --background-secondy-block: hsl(221, 100%, 96%);
   --background: hsl(221, 100%, 96%);
   --first-block-primary-font: hsl(0, 0%, 100%);
   --secondary-font: hsl(241, 100%, 89%);
   --second-block-primary-font: hsl(224, 30%, 27%);
   --border-radius: 20px;
   --border-radius-elements: 15px;
   --padding-geral: 1rem;
   --summary-height: 60%;
   --font-size-width-media-query-H2: 5rem;
}

* {
   font-family: 'Hanken Grotesk', sans-serif;
}

body {
   background: var(--background);
   height: 100vh;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.main-block {
   display: flex;
   justify-content: center;
   background: var(--background);
   border-radius: var(--border-radius);
   max-width: 500px;
   width: 90%;
   box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.2);
}

.results {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1rem;
   padding: 1rem 1.7rem 3rem;
   width: 50%;
   background: linear-gradient(
      to bottom,
      var(--background-first-block),
      var(--background-first-block-gradient)
   );
   text-align: center;
   align-items: center;
   border-radius: var(--border-radius);
}

.results > h4 {
   color: var(--secondary-font);
   font-size: 1.1rem;
   font-weight: bold;
   padding: 1rem;
}

.results > div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(
      to bottom,
      var(--background-first-block-gradient),
      var(--background-first-block)
   );
   padding: 2.5rem;
   border-radius: 50%;
}

.results > div h2 {
   color: var(--first-block-primary-font);
   font-size: 3rem;
   font-weight: bold;
   width: 4rem;
   padding: 0.3rem;
}

.results h3 {
   color: var(--first-block-primary-font);
   font-size: 1.5rem;
   padding: 0.5rem 0;
}

.results p {
   color: var(--secondary-font);
   font-size: 0.9rem;
}

/* start of summary */

.summary {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 0.7rem;
   width: 50%;
   background: var(--background-secondy-block);
   border-radius: var(--border-radius);
   padding: var(--padding-geral);
}

.summary > h2 {
   display: flex;
   color: var(--second-block-primary-font);
   font-weight: bold;
   display: flex;
   flex-direction: column;
   font-size: 1.5rem;
}

.card {
   display: flex;
   justify-content: space-between;
   gap: 1.5rem;
}

.card__img-wrapper {
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.card__numbers {
   display: flex;
   align-items: center;
   gap: 0.3rem;
}

.card-first {
   display: flex;
   background: var(--first-element-summary);
   border-radius: var(--border-radius-elements);
   padding: var(--padding-geral);
}

.card-first p {
   color: var(--first-text-summary);
}

.card-second {
   background: var(--second-element-summary);
   border-radius: var(--border-radius-elements);
   padding: var(--padding-geral);
}

.card-second p {
   color: var(--second-text-summary);
}

.card-third {
   background: var(--third-element-summary);
   border-radius: var(--border-radius-elements);
   padding: var(--padding-geral);
}

.card-third p {
   color: var(--third-text-summary);
}

.card-fourth {
   background: var(--fourth-element-summary);
   border-radius: var(--border-radius-elements);
   padding: var(--padding-geral);
}

.card-fourth p {
   color: var(--fourth-text-summary);
}

.card__numbers {
   font-weight: bold;
   font-size: 0.9rem;
}

.secondary-font {
   color: var(--second-block-primary-font);
}

.style-button {
   background-color: var(--second-block-primary-font);
   border-radius: 15px;
   border: none;
   color: var(--first-block-primary-font);
   font-size: 1rem;
   padding: 0.5rem;
}

@media (max-width: 768px) {
   main {
      height: 100%;
   }

   .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
   }

   .results {
      width: 100%;
      height: calc(100% - var(--summary-height));
      padding: 1rem 0;
      gap: 0;
      border-radius: 0 0 1rem 1rem;
   }

   .results > h4 {
      font-size: 1.6rem;
   }

   .results > div {
      padding: 3rem;
   }

   .results > p {
      display: flex;
      padding-bottom: 1.5rem;
      width: 60%;
      font-size: 115%;
   }

   .results > div h2 {
      font-size: var(--font-size-width-media-query-H2);
      width: cal(1rem + var(--font-size-width-media-query-H2));
   }

   .summary {
      height: var(--summary-height);
      width: 75%;
   }
}
